.smallbody{
    background-color: black;
    padding: 5%;
}
.main_navibar{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(169, 169, 169));
    /*background: lightblue;*/
    height: 15vh;
    width: 80vw;
    padding: 0.5em;
    margin: 2vh auto 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navibutton{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(169, 169, 169));
    text-align: center;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    color: azure;
    padding: 5px; 
    flex: 0 0 150px;
    align-self: center;
}
.navi{
    margin: 0.5em;

}
.navi1{
    order: 1;
    
}
.navi2{
    order: 2;
    
}
.navi3{
    order: 3;
    
}
.main_container{
    background: pink;
    height: 15vh;
    width: 80vw;
    padding: 0.5em;
    margin: 2vh auto 2vh;
}
.main_footer{
    background: orangered;
    height: 15vh;
    width: 80vw;
    padding: 0.5em;
    margin: 2vh auto 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:600px){
    /*desktop first*/
    
}
@media screen and (min-width: 400px) { /* jeśli szerokość jest większa od 400px  */
    body {
      background-color: lightgreen;
    }
  }