[submodule "qr_code"]
	path = qr_code
	url = https://github.com/dominikszafara/qr_code.git
[submodule "stats_previev"]
	path = stats_previev
	url = https://github.com/dominikszafara/stats_previev.git
[submodule "three_columns"]
	path = three_columns
	url = https://github.com/dominikszafara/three_columns.git
[submodule "comming_soon_page"]
	path = comming_soon_page
	url = https://github.com/dominikszafara/comming_soon_page.git
